.section-six {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #FAFAFA;
}

.section-six .upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}

.section-six .upper > h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #252B42;
    font-family: sans-serif;
}

.section-six .upper .social i {
    font-size: 2rem;
    margin: 0px 10px;
    color: #23A6F0;
}

.section-six .upper .social i:hover {
    cursor: pointer;
    transform: scale(1.1, 1.1);
    transition: all 0.3s ease;
    color: #0066ec;
}

.section-six .middle {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 40px 150px;
}

.section-six .middle .list-1, .list-2, .list-3, .list-4, .list-5 {
    margin: 20px 30px;
}

.section-six .middle h1 {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #252B42;
}

.section-six .middle ul li {
    font-weight: bold;
    color: #737373;
    margin: 10px 0px;
}

.section-six .middle ul li:hover {
    color: purple;
    cursor: pointer;
    transition: all 0.1s ease;
}

.section-six .middle .list-5 input {
    padding: 15px 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    outline: none;
}

.section-six .middle .list-5 input::placeholder {
    color: #737373;
}

.section-six .middle .list-5 label {
    background-color: #23A6F0;
    padding: 15px 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.section-six .middle .list-5 label:hover {
    background-color: #1e7fff;
    transition: all 0.3s ease;
}

.section-six .middle .list-5 p {
    color: #737373;
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 10px;
}

.section-six .bottom {
    padding: 30px 140px;
    color: #737373;
    font-weight: 700;
}

@media (max-width: 1420px) {
    .section-six {
        height: 400px;
    }
    
    .section-six .upper {
        padding: 30px 90px;
    }

    .section-six .middle {
        padding: 40px 150px;
        flex-wrap: wrap;
    }
}

@media (max-width: 700px) {
    section-six .upper {
        padding: 25px 75px;
    }
    
    .section-six .upper > h1 {
        font-size: 1.5rem;
    }
    
    .section-six .upper .social i {
        font-size: 1.7rem;
        margin: 0px 8px;
    }

    .section-six .middle {
        padding: 40px 75px;
    }
    
    .section-six .middle .list-1, .list-2, .list-3, .list-4, .list-5 {
        margin: 20px 15px;
    }
}

@media (max-width: 515px) {
    section-six .upper {
        padding: 5px 0px;
    }

    .section-six .upper > h1 {
        font-size: 1.2rem;
        margin-left: -50px;
    }

    .section-six .upper .social {
        margin-right: -50px;
    }
    
    .section-six .upper .social i {
        font-size: 1.5rem;
        margin: 0px 8px;
    }

    .section-six .middle {
        text-align: center;
        justify-content: center;
        padding: 25px;
    }
    
    .section-six .middle .list-1, .list-2, .list-3, .list-4, .list-5 {
        margin: 25px;
        text-align: center;
        justify-content: center;
    }

    .section-six .middle .list-5 input {
        width: 150px;
        height: 52.5px;
    }

    .section-six .middle .list-5 label {
        width: 50px;
        height: 50px;
        font-size: 1rem;
    }

    .section-six .bottom {
        padding: 15px 70px 30px 70px;
    }
}